//---------------------------------------------------------------------------
//
// Name:        ip-changerApp.rc
// Author:      Pawe³
// Created:     2011-01-05 21:44:09
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
